*{
	padding:0;
	margin:0;
}

body{
	background-color:black;
}

div.loading h1{
	margin-top:10px;
	color:#FFF;
	position:relative;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	white-space:nowrap;
	float:left;
}

@-webkit-keyframes typ{
	from { width: 100% }
    to { width:0 }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: green }	
}

div.loading h1 span{
	position:absolute;
	width:0;
	top:0;
	right:0;
	float:left;
	box-sizing:border-box;
	background-color:black;
	-webkit-animation: typ 4s steps(200, end),infinite;
}

div.loading p{
	color:#00FF00;
	position:relative;
	font-size:15px;
	font-family:"Courier New", Courier, monospace;
	white-space:nowrap;
	float:left;
}

div.loading p span{
	position:absolute;
	float:left;
	clear:both;
	width:0;
	top:0;
	right:0;
	box-sizing: border-box;
	border-left: 4px solid;
	background-color:black;
	-webkit-animation: typ 2s steps(20, end),blink-caret 1s step-end infinite;
	/*how to put a dely for animation????*/
}
