@charset "utf-8";

*{
	margin:0;
	padding:0;
}

div.container{
	margin:0 auto;
	width:980px;
}

div.container div.banner{
	width:980px;
	overflow:hidden;
	height:500px;
	position:relative;
	margin-top:70px;
}

div.container div.banner div.scroll{
	width:980px;
	height:500px;
	position:absolute;
	left:0;
	top:0;
	-webkit-transition:all 1s;
}

div.container div.banner div.scroll > div{
	float:left;
	margin-right:5px;
	width:980px;
	height:inherit;
	background-position:left top;
	background-repeat:no-repeat;
}

div.container div.banner div.scroll  div.img1{
	background-color:pink;
}

div.container div.banner div.scroll  div.img2{
	background-color:green;
}

div.container div.banner div.scroll  div.img3{
	background-color:blue;
}

div.container div.banner div.scroll  div.img4{
	background-color:yellow;
}

div.banner ul.btn{
	position:absolute;
	bottom:0;
	right:0;
	list-style-type:none;
	height:88px;
	width:23px;
}

div.banner ul.btn li{
	width:14px;
	height:14px;
	-webkit-border-radius:50px;
	background-color:gray;
	margin-top:4px;
	cursor:pointer;
	-webkit-transition:all 600ms;
	-webkit-border-shadow:1px 1px 1px black;
}

div.banner ul.btn li:hover{
	background-color:#FF0000;
}

div.banner ul.btn li:active{
	background-color:#C00;
}