body{
	background-color:black;
}

.slider{
	height:400px;
	overflow:hidden;
}

.scroll{
	height:inherit;
	width:950px;
}

.slider .scroll > div{
		height:inherit;
		overflow:hidden;
		border-left:5px black solid;
		cursor:pointer;
		position:relative;
}

.slider .scroll > div img{
	opacity:.4;
	-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(88%,transparent),to(rgba(255,255,255,0.5)));
		-webkit-transition:opacity 1s;
		display:block;
}

.slider .scroll > div img:hover{
	opacity:1;
}

.txt{
	width:450px;
}

.txt .header{
	position:absolute;
	top:0;
	left:0;
	color:red;
	background-color:black;
	opacity:.6;
	-webkit-transform-origin:left top;
	-webkit-transform: translateY(300px) rotate(-90deg);
	text-align:center;
	padding-top:5px;
	width:300px;
	height:36px;
	z-index:-1;
	font-family:"Comic Sans MS", cursive;
	font-style:italic;
	font-variant:small-caps;
}